@model Product

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Add product API</h1>
<form asp-controller="Product" asp-action="CreateApi" method="post">
    <div class="mb-3">
        <label asp-for="ProductName"></label>
        <input class="form-control" asp-for="ProductName" />
        <span class="text-danger" asp-validation-for="ProductName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="Price" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfProduction"></label>
        <input class="form-control" asp-for="DateOfProduction" />
        <span class="text-danger" asp-validation-for="DateOfProduction"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
            <label asp-for="Quality"></label>
            <select class="form-control" asp-for="Quality" asp-items="@Html.GetEnumSelectList<Quality>()"></select>
            <span asp-validation-for="Quality" class="text-danger"></span>
        </div>
    <div class="mb-3">
        <label for="filter">Producent filter</label>
        <input class="form-control" type="text" name="filter" id="filter"/>
        <select class="form-control" asp-for="ProducentId" id="ProducentId"></select>
        <a asp-action="Create" asp-controller="Producent">Add new producent</a>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
    </div>
    
</form>

@section Scripts{
    <script>
        let select = document.getElementById("ProducentId");
        let filter = document.getElementById("filter");
        filter.onchange = function (e) {
            if (filter.value.length == 0) {
                return;
            }
            fetch(`/api/producent/?q=${filter.value}`)
                .then(response => response.json())
                .then(json => {
                    select.innerHTML = "";
                    for (let item of json) {
                        const option = document.createElement('option');
                        option.setAttribute('value', item.id);
                        option.innerText = item.name;
                        select.appendChild(option);
                    }
                })
                .catch(e => {
                    console.log('cant get data from api', e);
                });
        };
    </script>
    }