@model Product

@{
}
<h1>Ar you sure do you want delete contact no @Model.Id? </h1>

<form asp-controller="Product" asp-action="Delete">
    <input asp-for="Id"/>
    <button type="submit">Yes</button>
    <a class="btn btn-primary" asp-action="Index">No</a>

</form>