@model Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Country</h1>

<p>Are you sure you want to delete the country with ID: @Model.Id?</p>

<form asp-controller="Country" asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />
    
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-primary" asp-action="Index">Cancel</a>
</form>