@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Discover a World of Products!</p>

    <div class="row mt-5">
        <div class="col-md-3 featured-product">
            <img src="https://images.pexels.com/photos/245208/pexels-photo-245208.jpeg?auto=compress&cs=tinysrgb&w=1200" class="img-fluid" alt="Product 1">
        </div>
        <div class="col-md-3 featured-product">
            <img src="https://images.pexels.com/photos/172491/pexels-photo-172491.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid" alt="Product 2">
        </div>
        <div class="col-md-3 featured-product">
            <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&w=1200" class="img-fluid" alt="Product 3">
        </div>
        <div class="col-md-3 featured-product">
            <img src="https://images.pexels.com/photos/1552616/pexels-photo-1552616.jpeg?auto=compress&cs=tinysrgb&w=1200" class="img-fluid" alt="Product 4">
        </div>
    </div>

    <h4>Last visit: @ViewBag.LastVisit</h4>
    <div class="mt-5">
        <h2>Ready to Explore?</h2>
        <a class="get-started-btn" asp-area="" asp-controller="Product" asp-action="Index">Get started</a>
    </div>
</div>

<style>
    .btn-outline-info {
        color: #ffffff;
        background-color: #93757a;
        border: 1px solid #493a3d;
    }

    .btn-danger {
        color: #ffffff;
        background-color: #181314;
        border: 1px solid #181314;
    }
        .featured-product
    {
        overflow: hidden;
        padding: 8px;
        margin-bottom: 20px;
    }

    .featured-product img {
        width: 100%;
        height: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        object-fit: cover;
    }

    .get-started-btn {
        display: inline-block;
        padding: 15px 30px;
        font-size: 18px;
        text-decoration: none;
        background-color: #d28aa1;
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

        .get-started-btn:hover {
            background-color: #a94064;
            color: white;
            border-color: #a94064;
        }
</style>