@model Producent?

@{
    ViewData["Title"] = "Delete";
}
<h1>Are you sure do you want delete product no @Model.Id? </h1>

<form asp-controller="Producent" asp-action="Delete">
    <input asp-for="Id"/>
    <button type="submit">Yes</button>
    <a class="btn btn-primary" asp-action="Index">No</a>

</form>
